body {
  background:blue;
  display: inline-flex;
  font-family: 'Dosis', sans-serif;
  background: white;
  background-image: radial-gradient(lightgray 1px, transparent 0);
  background-size: 10px 10px;
  background-position: -19px -19px;
  padding-left: 1%;
  padding-right: 1%;
  margin: auto;
/*   height: 80em; */
/*   width: 80%; */

}

h1 {
  border-radius: 5px;
/*   background-color: rgb(255, 0, 0);
  color:  white; */
  /* border: 1px solid brown; */
}

h2 {
  background: rgb(255,99,71);
  color: white;
  width: max-content;
  border-radius: 5px;


}

h3:hover {
  background-color: rgb(255,99,71);
  border-radius: 5px;
  width: max-content;
}

a {
  color: black;
}

a:hover{
  color: white;
  border-radius: 5px;
  width: max-content;
}

.profile {
  color:white;
  width:55%;
  margin-right: 0.5%;
  text-align: center;
  background-color: rgb(255,99,71)


}

.projects {
  border-left: 1px solid;
  padding-left: 0.5%;

}

.contact {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3.5%;

}

.profileStatement {
  text-align: justify;
  padding: 3%;
    font-weight: bold;


}
